<!-- Sektion 0, Intro - för kursen JavaScriptbaserad webbutveckling -->
<!DOCTYPE html>
<!-- data-ng-app anger att AngularJS ska vara aktiv i den här delen av sidan (innuti html-elementet) -->

<!-- data-ng-controller anger att det är klassen MyCoursesController (som finns i filen 
    my-courses.controller.jsrses.js) som ska hantera beteendet för detta element (html-elementet).

    Skillnaden mellan direktiven (directive) ng-xxx och data-ng-xxx är att vissa validerare
    av HTML genrererar fel om bara ng-xxx används. Inga error ges om vi lägger till data- innan.
    I övrigt är det inga som helst skillnader. Ha som vana att alltid använda data-ng-xxx.
-->
<html lang="sv" data-ng-app="myCoursesApp"  data-ng-controller="MyCoursesController" class="ng-scope" >

<head>
    <!-- En av de grundläggande funktionerna i AngularJS är 'data binding'. Ett sätt att ange
        detta är med dubbla klammer: {{ }}
        Denna databindning säger till AngularJS att uttrycket mellan {{}} ska beräknas och att 
        resultatet ska läggas in i DOM på den plats bindningen återfinns.
        studentId är en variabel som återfinns i $scope i filen my-courses.controller.js (se nedan).

        Data-binding ser till så att vår vy (view, html-sidan) automatiskt kommer att uppdateras så 
        snart vår modell (model, data/variabler vår app använder) ändras, samt tvärtom. Vår modell 
        kommer uppdateras så snart vår vy på något sätt ändras.
        -->
    <title>
        DT190G - Laboration 1: ({{ rabi2000 }})
    </title>
    <meta charset="utf-8" />

    <!-- CSS -->
    <link rel="stylesheet" href="my-courses.css" type="text/css" />

    <!-- JavaScript -->
    <!-- Följande kod laddar ner senaste versionen (och sista versionen någonsin!) av angular.js skriptet 
        som registrerar en callback som webbläsaren anropar när HTML-sidan är helt nerladdad.-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <!-- En "controller" innehåller den kod som vår vy använder.-->
    <script src="my-courses.controller.js"></script>
</head>

<body>
    <header>
        <!-- Direktivet (data-)ng-bind är ett annat sätt att "binda" data från $scope. Här kommer
            innerHTML, för det element som diriktivet används i, sättas till resultatet av det 
            uttryck som ges (återigen i $scope). -->
        <h1 class="center" data-ng-bind="getPageHeading('index.html')"></h1>

        <!-- Ett annat sätt att "binda" data från $scope är som sagt att använda {{ }} -->
        <p>{{ getPageText('index.html') }}</p>
        

        <nav>
            <a href="my-courses.html">Se mina kurser</a>
        </nav>
    </header>

    <main>
        <section class="filter">
            <form>
                <!-- Ytterligare sätt att "binda" data är att använda direktivet (data-)ng-model (en "two-way binding)").
                    Denna används på ett input-, select- eller textarea-element till $scope i vår controller. I det här
                    fallet skapas $scope.filterQuery. Så snart användaren skriver i textfältet uppdateras värdet av 
                    variabeln filterQuery med det värde som textfältet har. filterQuery används senare i koden för att
                    avgöra vilka kurser som ska visas i tabellen. -->
                <label>Filtrera på:&nbsp;<input data-ng-model="filterQuery" class="form-control pull-right"
                        placeholder="Filter..." /></label>
            </form>
        </section>

        <section class="courses">
            <table>
                <thead>
                    <tr>
                        <td>Kurskod</td>
                        <td class="course-name">Namn</td>
                        <td></td>
                        <td>hp</td>
                        <td>Institution</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Direktivet (data-)ng-repeat använder vi om vi vill "loopa" igenom en array eller objekt.
                        Nedan kommer en rad i tabellen läggas till för varje kurs som finns i $scope.courses i vår
                        controller. AngularJS tillhandahåller olika filter för att omvandla data åt oss. Vi lägger
                        till ett filter genom att använda pipe-tecknet | följt av det filter som ska användas. Ett
                        filter är 'filter' som väljer ut en delmängd från en array (i det här fallet $scope.courses)
                        som matchar det vi anger i filterQuery (som får sitt värde av textfältet).
                    -->

                    <!-- För varje course i courses, applicera filtret och sortera efter kursens kurskod. -->
                    <tr data-ng-repeat="course in courses | filter:filterQuery | orderBy: 'courseCode'">
                        <td>{{ course.courseCode }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.progression }}</td>
                        <td>{{ course.points }}</td>
                        <td class="center">{{ course.institutionCode }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p class="center">
            Denna sida läser data från filen
            <a href="miun-db.json" target="_blank">miun-db.json.</a>
        </p>
    </footer>
</body>

</html>